backend:
  name: github
  repo: xl1393/RCC-website
  branch: main
  base_url: https://rcc-website-five.vercel.app
  auth_endpoint: api/auth

# For local development/testing only (no authentication, no file access)
# backend:
#   name: test-repo

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "About Us"
        name: "about"
        file: "src/content/pages/about.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }
